header {
  background-image: url('img/back1\ \(1\).jpg');
  background-size: 100vmax 100vh;
  background-repeat: no-repeat;
  height: 755px;
}

.nav-not-shadow {
  box-shadow: 0px 0px 0px 0px;
}

.section-welcome {
  text-align: center;
  font-size: 25px;
  font-family: 'Domine', serif;
  margin: 13%;
  color: #333333;
}
 
em {
  color: #351eb5;
  font-family: 'Rouge Script', cursive;
  font-size: 90px;
}

.title {
  color: #dd239f;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px 30px 0px;
  text-decoration-line: underline;
}

.extract {  
  color: #333333;
  font-size: 14px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

.awards {
  width: 20px;
}

.photo {
  border-radius: 20px;
  border: solid 1px yellow;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.section-about-me {
  height: 755px;
  background-image: url('img/bg-me.jpg');
  background-size: 100vmax 100vh;
  background-repeat: no-repeat;
}

.section-contact {
  height: 755px;
  background-image: url('img/bg-contact.jpg');
  background-size: 100vmax 100vh;
  background-repeat: no-repeat;  
}

.data-contact {
  padding: 0px 0px 30px 0px;
}

.values {
  margin-top: 10px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.title-values {
  margin-bottom: 30px;
}

.cv {
  margin-top: 50px;
}

.section-portafolio {
  height: 755px;
}

.list-project {
  background-color: black;
  height: 450px;
  border: solid 2px black;
}

.show-project {
  height: 450px;
  border: solid 2px;
}

.project-play {
  margin-top: 100px;
  margin-left: 15px;
}

.app {
  margin: 50px;  
}

.project {
  margin-top: 10px;
}

.title-project {
  font-size: 20px;
  font: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.link-repo {
  text-decoration: underline;
  color: blue;
}

.description {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 14px;
}

.space {
  margin-top: 200px;
  font-size: 20px;
}
