header {
    background-image: url('img/back1\ \(1\).jpg');
    background-size: 100vmax 100vh;
    background-repeat: no-repeat;
    height: 758px;
}

.nav-not-shadow {
    box-shadow: 0px 0px 0px 0px;
}

.section-welcome {
    text-align: center;
    font-size: 30px;
    font-family: 'Domine', serif;
    margin: 13%;
    color: #333333;
 }
 
em {
    color: #351eb5;
    font-family: 'Rouge Script', cursive;
    font-size: 120px;
}

.title {
    color: #dd239f;
    font-family: 'Open Sans', sans-serif;
    margin: 50px 0px 50px 0px;
    text-decoration-line: underline;
}

.extract {  
    color: #333333;
    font-size: 16px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.photo {
  border-radius: 20px;
  border: solid 1px yellow;
}

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

.section-about-me {
    height: 758px;
    background-image: url('img/bg-me.jpg');
    background-size: 100vmax 100vh;
    background-repeat: no-repeat;
}

.section-contact {
    height: 700px;
    background-image: url('img/bg-contact.jpg');
    background-size: 100vmax 100vh;
    background-repeat: no-repeat;
    
}

.data-contact {
    padding: 0px 0px 30px 0px;
}

.values {
  margin-top: 30px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.title-values {
  margin-bottom: 30px;
}

